
# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Dataset directories
oasis_data/
dementia_mild/
dementia_moderate/
dementia_very_mild/
non-demented/
dataset/

# Ignore system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Keras Models
models/*.keras
models/*.h5

# Ignore IDE files
.vscode/
.idea/
.vs
